<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" />

<!-- profile style -->
<link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
    .nav-link {
        padding: .5rem 1rem;
    }

    .inputQuantity {
        text-align: center;
        padding-top: 5px;
    }

    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .value-button:hover {
        cursor: pointer;
    }

    .inputQuantity #decrease {
        margin-right: -4px;
        border-radius: 8px 0 0 8px;
    }

    .inputQuantity #increase {
        margin-left: -4px;
        border-radius: 0 8px 8px 0;
    }

    .inputQuantity #input-wrap {
        margin: 0px;
        padding: 0px;
    }

    input.quantity {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .payContainer {
        margin-top: 100px;
    }

    #btnPay {
        margin-top: 70px;
        width: 200px;
        position: absolute;
        right: 50px;
        bottom: 50px;
    }
    .totalPrice {
        margin-top: 70px; margin-right: 30px;
        width: 200px;
        position: absolute;
        right: 250px;
        bottom: 60px;
    }
</style>


<div class="container" style="font-size: 16.5px">
    {{!-- <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>H</span>ồ sơ
    </h3> --}}
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="{{userProfile.avatarUrl}}" id="imgProfile" style="width: 216px; height: 216px"
                                    class="img-thumbnail" />

                            </div>
                            <div class="userData ml-3">
                                <style>
                                    h1,
                                    h2,
                                    h3,
                                    h4,
                                    h5,
                                    h6 {
                                        line-height: 1;
                                    }
                                </style>
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                        href="javascript:void(0);">{{userProfile.firstName}} {{userProfile.lastName}}
                                        (@{{userProfile.username}})</a></h2>

                                <br>
                                <h6 class="d-block"><a href="javascript:void(0)">{{allDishesCount}}</a> Đơn hàng</h6>
                                <h6 class="d-block"><a href="javascript:void(0)">{{userProfile.totalReviewSent}}</a>
                                    Lượt đánh giá</h6>
                                <h6 class="d-block"> Tham gia ngày {{parseDate userProfile.createdDate "/"}}</h6>
                                {{#if userProfile.phone}}
                                <h6 class="d-block"> <i class="fa fa-phone" aria-hidden="true"></i>
                                    {{userProfile.phone}}</h6>
                                {{/if}}
                                {{#if userProfile.email}}
                                <h6 class="d-block"> <i class="fa fa-envelope" aria-hidden="true"></i>
                                    {{userProfile.email}}</h6>
                                {{/if}}
                                <h6 class="d-block"><i class="fas fa-map-marker-alt"></i> Địa chỉ giao hàng: 227 Đ.
                                    Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</h6>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                        role="tab" aria-controls="basicInfo" aria-selected="true">Giỏ hàng của bạn</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent" style="padding-top: 20px;">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                    aria-labelledby="basicInfo-tab">



                                    <div class="container">
                                        {{#if allDishes}}
                                        <div class="row">
                                            {{# each allDishes}}
                                            <div class="col-md-3 mb-3 d-none" id={{dishID}}>
                                                <div class="item-inner card shadow">
                                                    <div class="item-image">
                                                        <a href="/dish/{{dishID}}">
                                                            <img src="{{imageUrl}}" class="responsive" />
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-info-header">
                                                            <div class="item-info-title">
                                                                <a href="/dish/{{dishID}}">
                                                                    <h5 class="truncate2">{{name}}</h5>
                                                                </a>
                                                            </div>
                                                            <div class="recipe-by">
                                                                <a href="/profile/{{creator.userID}}">
                                                                    <img src="{{getUserAvatarUrl creator.avatar}}"
                                                                        alt="" class="img-circle" />
                                                                    {{creator.firstName}} {{creator.lastName}}
                                                                </a>
                                                            </div>
                                                            <div class="item-info-stats">
                                                                <!-- Dish types -->
                                                                <ul class="item-info-stats-2">
                                                                    <li class="stats-item stats-item-dish-type">
                                                                        <span class="truncate1" data-toggle="tooltip"
                                                                            title="{{dishTypesStr}}">
                                                                            <i class="fa fa-fire"></i>
                                                                            {{# each dishTypes}}
                                                                            <span><a herf="#">{{getDishTypeName
                                                                                    dishTypeID}}</a></span>,&nbsp;
                                                                            {{/each}}
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <b class="dishPrice">30.000đ</b>
                                                            <form class="inputQuantity">
                                                                <div class="value-button" id="decrease"
                                                                    onclick="decreaseValue({{dishID}})"
                                                                    value="Decrease Value">-</div>
                                                                <input type="number" id="quantity-{{dishID}}"
                                                                    class="quantity" value="1" />
                                                                <div class="value-button" id="increase"
                                                                    onclick="increaseValue({{dishID}})"
                                                                    value="Increase Value">+</div>
                                                            </form>
                                                        </div>
                                                        {{!-- <div class="item-info-footer">
                                                            <button type="button"
                                                                class="btn btn-outline-success add-to-cart"
                                                                id="{{dishID}}" style="min-width: 100%;"><i
                                                                    class="fas fa-cart-plus mr-4"></i>Đặt món</button>
                                                        </div> --}}
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="payContainer">
                                            <b class="totalPrice" id="totalPrice">Tổng tiền: 150.000</b>
                                            <i class="fas fa-money-bill-wave"></i>
                                            <button onclick="payMoney()"
                                                type="button" id="btnPay" class="btn btn-lg btn-outline-primary">
                                                Thanh toán</button></div>
                                        {{else}}
                                        <div>Giỏ hàng trống</div>
                                        {{/if}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        const currentCart = JSON.parse(localStorage.getItem('myCart'));
        currentCart.forEach(element => {
            $(`#${element.dishID}`).toggleClass("d-none");
            $(`#quantity-${element.dishID}`).val(element.quantity);
        });
        updateTotalPrice();
    });

    /*const currentCart = JSON.parse(localStorage.getItem('myCart'));
    let existedDish = false;
    currentCart.forEach(element => {
        if(element.dishID == dishID) {  // nếu dishID đã có thì + thêm 1
            existedDish = true;
            element.quantity += 1;
        }
    });
    if (existedDish === false)
        currentCart.push({"dishID":dishID,"quantity":1});   // nếu chưa tồn tại thì thêm vào
    let myNewCart = JSON.stringify(currentCart);
    localStorage.setItem('myCart', myNewCart);
    swal.success("Đã thêm món ăn vào giỏ hàng");*/

    function increaseValue(dishID) {
        var value = $(`#quantity-${dishID}`).val();
        value = isNaN(value) ? 0 : value;
        value++;
        $(`#quantity-${dishID}`).val(value);

        const currentCart = JSON.parse(localStorage.getItem('myCart'));
        currentCart.forEach(element => {
            if (element.dishID == dishID) {
                element.quantity = value;
            }
        });
        let myNewCart = JSON.stringify(currentCart);
        localStorage.setItem('myCart', myNewCart);
        updateTotalPrice();
    }

    function decreaseValue(dishID) {
        var value = $(`#quantity-${dishID}`).val();
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        $(`#quantity-${dishID}`).val(value);

        const currentCart = JSON.parse(localStorage.getItem('myCart'));
        currentCart.forEach(element => {
            if (element.dishID == dishID) {
                element.quantity = value;
            }
        });
        let myNewCart = JSON.stringify(currentCart);
        localStorage.setItem('myCart', myNewCart);
        updateTotalPrice();
    }

    function updateTotalPrice() {
        let countItem = 0;
        const currentCart = JSON.parse(localStorage.getItem('myCart'));
        currentCart.forEach(element => {
            countItem += element.quantity;
        });
        let totalPrice = countItem*30000;
        let formatedPrice = totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
        $("#totalPrice").text("Tổng tiền: " + formatedPrice);
    }

    function payMoney(){
        //window.location.href = "http://localhost:3000";
        localStorage.setItem('myCart', "[]");
        swal.success("Bạn đã thanh toán thành công, vui lòng kiểm tra tình trạng đơn hàng");
    }
</script>